@page
@model ContactModel
@{
    ViewData["Title"] = "Get in touch with us";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <div>
        <p>For any questions or comments, <br/> please email us at <a href="mailto: gamerinlaws@gmail.com">gamerinlaws@gmail.com</a> <br/>(We could read your email on the show!)</p>
        <p>Follow us on <a href="https://www.facebook.com/gamerinlaws">Facebook</a></p>
        <p>Follow us on <a href="https://twitter.com/laws_gamer">Twitter</a></p>
        <p>Watch Tim suck on <a href="https://www.twitch.tv/tjsquared2">Twitch</a></p>
    </div>
    <div>
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fgamerinlaws%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=135731110123752" width="340" height="500" style="border: none; overflow: hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>