@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3>Three brothers-in-law talk everything games!</h3>
    <div>
        <p>You can find our Podcast by searching "Gamer in Laws" in your podcast app, or use the specific links below.</p>

        <a href="https://podcasts.apple.com/us/podcast/gamer-in-laws/id1533844272 ">Apple Podcasts</a>
        <br />
        <a href="https://podcasts.google.com?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zN2I4YWM0MC9wb2RjYXN0L3Jzcw%3D%3D">Google Podcasts</a>
        <br />
        <a href="https://open.spotify.com/show/18pheOolxp51md554NUNQW?si=wHkbaRKDSlKbjrFASZ-NZQ">Spotify Podcasts</a>
        <br/>
        <p>For any questions or comments, please email us at <a href="mailto: gamerinlaws@gmail.com">gamerinlaws@gmail.com</a> (We could read your email on the show!)</p>
    </div>
    <div>
        <img src="gamerinlaws.jpg" alt="This is our logo!" style=" width: 75%; height: auto;">
    </div>
</div>
