@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the GamerInLaws Podcast website!</h1>
    <h3>Three brother-in-laws talk everything games!</h3>

    <p>You can find our Podcast by searching "Gamer in Laws" in your podcast app, or use the specific links below.</p>

    <a href="https://podcasts.apple.com/us/podcast/gamer-in-laws/id1533844272 ">Apple Podcasts</a>
    <br />
    <a href="https://podcasts.google.com?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8zN2I4YWM0MC9wb2RjYXN0L3Jzcw%3D%3D">Google Podcasts</a>
    <br />
    <a href="https://open.spotify.com/show/18pheOolxp51md554NUNQW?si=wHkbaRKDSlKbjrFASZ-NZQ">Spotify Podcasts</a>

    <p>For any questions or comments, please email us as gamerinlaws@gmail.com (We could read your email on the show!)</p>
    <img src="gamerinlaws.jpg" alt="This is our logo!" style=" width: 95%; height: auto;">
</div>
