@page
@model PrivacyModel
@{
    ViewData["Title"] = "Meet the Team!";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <br />
    <h2>Tim</h2>
    <p>Tim knows more about Freon than gaming, but he's a damn good podcast host.</p>
    <h2>Matt</h2>
    <p>Matt loves the Packers and mostly plays on Xbox.</p>
    <h2>Beau</h2>
    <p>Beau lives in Chicago and grew up playing Counter-Strike.</p>
    <img src="beauHeadshot.jpg" alt="Beau's face." style=" width: 25%; height: auto;">
</div>